@model IEnumerable<QuanLyTuyenDung.Models.ViecLam>
@{
    ViewData["Title"] = "Quản lý tin tuyển dụng";
    int stt = 1;

}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/lib/jquery/dist/jquery.min.js" />
<link rel="stylesheet" href="~/css/style.css">


<main class="py-4">
    <section class="job-list">
        <div class="container">
            <h1 class="text-center mb-4">Quản lý Việc làm</h1>
            <div class="d-flex justify-content-center mb-4">
                <a href="@Url.Action("ThemViecLam", "Admin")" class="btn btn-custom mx-2">Tạo tin tuyển dụng mới</a>
            </div>

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>STT</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày hết hạn</th>
                        <th>Mô tả</th>
                        <th>Mức lương</th>
                        <th>Thao tác</th>
                        <th>Chi tiết</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var vieclam in Model)
                    {
                        <tr>
                            <td>@vieclam.MaViecLam</td>
                            <td>@vieclam.TieuDe</td>
                            <td>@vieclam.MoTa</td>
                            <td>@vieclam.MucLuong</td>
                            <td>@vieclam.NgayTao</td>
                            <td>@vieclam.NgayHetHan</td>
                            <td>@vieclam.TrangThai</td>
                             <td>
                                <a href="#" class="btn btn-custom m2-2">Sửa</a>
                                <form asp-action="XoaViecLam" method="post" style="display:inline;">
                                    <input type="hidden" name="id" value="@vieclam.MaViecLam" />
                                    <button type="submit" class="btn btn-danger">Xóa</button>
                                </form>
                            </td>
                            <td>
                                <a href="@Url.Action("QuanLyUngTuyen", "Admin",
                                    new { id_vieclam = vieclam.MaViecLam })" 
                                    class="btn btn-custom">@vieclam.DSDonUT.Count() Đơn ứng tuyển</a>
                            </td>
                         </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</main>

<script>
   
</script>

@* <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> *@
